  
/*#region Navbar */
  .navbar {
    background-color: #1a1b1d;
  }
/*#endregion */

/*#region Parallax */



  /* Parallax taken from https://themes.artbees.net/blog/pure-css-parallax-in-5-minutes/ */
  .main {
    /* Fill the available space */
    height: 94vh;


    /* Make the children of the element closer to the viewport */
    perspective: 2px;

    /* Hide the overflow */
    overflow-x: hidden;
  }

  /* General styling, not necessarily related to parallax effect  */
  .section {
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 80vh;
    font-size      : 40px;
    text-transform : uppercase;
    font-weight    : bold;
  }

  /* Different background colors for demo purpose */
  .static-one {
    background-color: #1a1b1d;
    color           : #dd3011;
  }

  .static-two {
    background-color: #dd3011;
    color           : #1a1b1d;
  }*

  .parallax::after {
    /* Position the pseudo-element to fill the parent */
    content : '';
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;

    /* Scale the image to full */
    background-size: cover;


    /* Move the element back then scale the element, it helps to appears more slowly */
    transform: translateZ(-1px) scale(1.7);

    /* Set the parallax section before the other elements. */
    z-index: -1;
  }

  /* Different background images */
  .parallax-one::after {
    background-image   : url("./images/homeImage2.jpg");
    background-position: 70%;
    

  }

  .parallax-two::after {
    background-image   : url("./images/homeImage.jpg");
    background-position: 70%;
  }

  .parallax-one-add::after {
    background-image   : url("./images/myWorkout1.jpg");
    background-position: 70%;

  }

  .parallax-one-input::after {
    background-image   : url("./images/inputWorkout.jpg");
    background-position: 70%;

  }

  .parallax-one-edit::after {
    background-image   : url("./images/gifWorkout.gif");
    background-position: 70%;

  }

/*#endregion */
  
/*#region HomePage */
.mainText{
  margin: 2px 1px 70px 40px; 
  font-size: 90px;
  text-shadow: 2px 2px 8px #000000;
  color: white;
}

.getStarted p {
  text-align: center;
}

.moreWorkouts p {
  text-align: center;
}
/*#endregion*/
  
/*#region AddWorkout*/
.form-group{
  text-align: center;
  font-size: 20px;
}
/*#endregion*/

